extends includes/head.pug

block content
    include includes/navbar.pug
    section.container
        .container__left
            form.form(action="/voting-app/poll" method="post" id="poll_form")
                fieldset#fs.form__fieldset
                    input(type="hidden" name="_csrf" value=csrfTkn)
                    if chosen
                        input(type="hidden" name="voted" id="voted_option" value=data.options.map(item => item[0]).indexOf(chosen))
                    else
                        input(type="hidden" name="voted" id="voted_option" value="null")
                    input(type="hidden" name="poll" value=data.id)
                    .form__container
                        each poll, index in data.options
                            if poll[0] == chosen
                                .form__container__options.selected(id=index)=poll[0]
                            else
                                .form__container__options(id=index)=poll[0]
                    input.form__btn.btn.btn--large.btn--full(id="add" type="button" value="Add")
                    if data.createdBy == user
                        input.form__btn.btn.btn--large.btn--full(id="delete_btn" type="button" value="Delete")
                    input.form__submit(id="submit" type="submit" value="Submit Vote")
        .container__right
            a.twitter(href="https://twitter.com/intent/tweet?url=" + encodedUrl + "&text=" + title + "&original_referer=" + encodedUrl )
                i(class="fa fa-twitter fa-lg twitter__font" title="Twitter") &nbspShare on Twitter
            #graph
        input(id="poll_data" type="hidden" value=data)
        if url_error != null
            #error=url_error
    include includes/footer.pug
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
    script(type="text/javascript" src=js )